<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p>Hi, my name is<b> Annamdas Rajeshwari.</b> I am a passionate Python developer currently pursuing an internship focused on backend web development. My interests include building web applications with Flask, designing clean and responsive user interfaces, and learning new technologies in the Python ecosystem.<br>
            I have a solid foundation in Python, HTML, CSS, and enjoy solving real-world problems through programming. Feel free to explore my portfolio and contact me for collaboration, feedback, or opportunities!
        </p>
    <a href="./contact.html">Contact Me</a>
</div>
</body>
</html>
